/* 640-768px ~ mobile landscape / tablet portrait */
@media (min-width: 40.5em) {
	#content { margin-left: 11.7em; margin-right: 38px; }

	#nav {
		left: 0;
		padding-left: 2.5em;
	}

	.page-section { margin: 3em 0; }
	.section-body { padding-left: 24px; }
}

/* 768-1024px ~ tablet landscape */
@media (min-width: 52em) {
	#content { margin-left: 12.7em; margin-right: 50px; }
	.page-section { margin: 4em 0; }
	.section-body { padding-left: 32px; }

	#nav {
    width: 9em;
	}
}

/* full size */
@media (min-width: 70em) {
	#content { margin-left: 13.7em; margin-right: 12.5em; }

	#nav {
    width: 10em;
	}

	#settings {
		right: -155px;
		border-top-width: 0;
		border-bottom-width: 0;
		box-shadow: none;
	}

	#settings-btn {
		background-color: transparent;
		width: 85px;
		left: -87px;
		padding: 0px;
		border-left: none;
		border-top: none;
		box-shadow: none;
    border-radius: 0;
	}
	#settings-btn.active {
		transform: rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		left: -54px;
	}
}
